.footer {
    img {
        height: 150px !important;
        width: auto;
        margin: auto;
        display: block;
    }
}

ion-checkbox {
    --size: 20px !important;
    margin-right: 0px;
}

ion-select {
    padding-left: 0px;
    min-width: 100% !important;
}

.iconDropdown {
    padding-right: -11px !important;
    color:black;
    width: 19px;
}
