.inputFeedback {
    border: 1px solid black;
}

.starRating {
    height: 30px;
}

.foodName {
    margin-bottom: 10px;
}

.feedbackOptions {
    margin-top: 10px;
}

.starRatingIcon {
    font-size: 30px;
}

.roundBox {
    border-radius: 10px;
}

.padding-top {
    padding-top: 200px;
}

.modalFeedback{
    overflow-y:scroll;
    overflow-x:hidden;
    padding: 10px;
}

.feedback-title {
    h1 {
        font-size: 17px;
        font-weight: 600;
    }
    padding: 0px 0px 0px 69px;
}

.footerfeedback {
    padding-top: 5 px;
}

.footerToolbar{
    padding: 10px
}



.checkBoxText {
    text-align: justify; 
    padding-right: 0px;
    margin-right: 1px;
}

